<div class="row">
  <div class="col-auto">
    <h1>All Posts</h1>
  </div>
</div>


<div id="commentBoxes">
  {{#each comments as | comment| }}
  <div id = "titleBox">
   <h3>{{comment.title}}</h3>
    <p>
    Posted by {{user.name}} on {{comment.date_created}} 
    </p>
  </div>
  <div id = "descBox">
  <p> {{comment.comment}} </p>
  <button id = "delBtn" data-id="{{id}}">delete</button>
  </div>


  {{/each}}

</div>



<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a new comment:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
   
      <div class="form-group">
        <label for="project-desc">Comment:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>


<script src="/js/comments.js"></script>
<script src="./js/profile.js"></script>