<div class="row">
  <div class="col-auto">
    <h1>All Posts</h1>
  </div>
</div>


<div id="commentBoxes">
  {{#each comments as | comment| }}
  <div id = "titleBox">
   <h3>{{comment.title}}</h3>
    <p>
    Posted by {{user.name}} on {{comment.date_created}} 
    </p>
  </div>
  <div id = "descBox">
  <p> {{comment.comment}}
  </p>
  <div>
  <button class="delBtn" data-id="{{id}}">delete</button>
  <button class="editBtn" data-id="{{id}}">edit</button>
  </div>
  </div>
  

  {{/each}}

</div>
<button class="btn" id="addComment">add comment</button>

<script src="/js/comments.js"></script>

