<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<h2>Signup</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="name-signup">name:</label>
    <input class="form-input" type="text" id="name-signup" />
  </div>
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">create account</button>
  </div>
</form>
</div>
<div id="commentBoxes">
  {{#each comments as | comment| }}
  <div id = "titleBox">
   <h3>{{comment.title}}</h3>
    <p>
    Posted by {{user.name}} on {{comment.date_created}} 
    </p>
  </div>
  <div id = "descBox">
  <p> {{comment.comment}}
  </p>
  <div>
  <button id = "delBtn" data-id="{{id}}">delete</button>
  {{!-- <button id = "edit" data-id="{{id}}">edit</button> --}}
  </div>
  </div>

  {{/each}}

</div>
<script src="/js/login.js"></script>
